<footer class="footer bg-dark py-3 mt-auto d-flex">
    <div class="conatiner m-auto">
        <span class="text-white ">&copy; Made By <a href="https://github.com/Adnanyu">Adnan</a></span>
    </div>
</footer>